<header>
	<h1>Eat Da Burger!</h1>
</header><!-- /header -->

<div class="wrapper">
	<div id="create-burger">
		<form action="/" method="POST">
			<input id="burger-name" type="text" name="burger_name" placeholder="Create a burger">
			<button class="submit-btn" type="submit">Add Burger</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available</h2>
			{{#each burgers}}
			{{#unless this.devoured}}
			<div class="burger">
				<form class="devour-burger-form" action="/{{id}}?_method=PUT" method="PUT">
					<button class="eat-btn">EAT</button>
				</form>
				{{burger_name}} <span>#{{id}}</span>
			</div>
			{{/unless}}
			{{/each}}
		</div>
		
		<div>
			<ul>
				{{#each burgers}}
				{{#if devoured}}
				{{> burgers/burger-block devoured=false}}
				{{/if}}
				{{/each}}
			</ul>
		</div>


		<div id="burgers-devoured">
			<h2>Burger Eaten</h2>
			{{#each burgers}}
			{{#if this.devoured}}
			<div class="burger">{{burger_name}} <span>#{{id}}</span></div>
			{{/if}}
			{{/each}}
		</div>
	</section>
</div>